<!doctype html>
<html>

<head>
	<title>Uvař.si</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/reset.css"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/base.css"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.5.1.min.js"></script>
</head>

<body>

<div id="header">
	<h1>Uvař.si</h1>
</div>

<div id="content">
	{% block content %}{% endblock %}
</div>

<div id="footer">
	Uvař.si &copy; {% now "Y" %}
</div>

</body>

</html>
