<!doctype html>
<html>

<head>
	<title>Uvař.si</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/reset.css"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/base.css"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/recipe.css"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/underscore-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/modernizr-1.7.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}scripts/recipe.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/gallery.js"></script>
</head>

<body>

<div id="header">
	<h1><a href="{% url dashboard %}">Uvař.si</a></h1>
</div>

<div id="menu" class="clearfix">
	<ul>
	{% if user.is_authenticated %}
		<li><a href="{% url dashboard %}">Moje kuchařka</a></li>
		<li><a href="{% url recipe_add user.username %}">Vložit recept</a></li>
		<li><a href="{% url logout %}">Odhlásit</a> ({{ user.username }})</li>
	{% else %}
		<li><a href="{% url login %}">Přihlásit</a></li>
	{% endif %}
</div>

{% if messages %}
<div id="messages">
	<ul>
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<div id="content-wrapper" class="clearfix">

{% block page-header %}{% endblock %}

<div id="sidebar">
	{% block sidebar %}{% endblock %}
</div>

<div id="content">
	{% block content %}{% endblock %}
</div>

</div>

<div id="footer">
	Uvař.si &copy; {% now "Y" %}
</div>

</body>

</html>
