body {
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

a, a:visited, a:active {
    color: blue;
}

#header {
	margin-bottom: 20px;
}

#header h1 {
	font-size: 17pt;
}

#footer {
	margin-top: 20px;
}

#content h2 {
	font-size: 13pt;
	margin-bottom: 15px;
}
