{% extends "base.html" %}

{% block content %}

<h2>Moje recepty</h2>

<div id="my-recipes">

{% if recipes %}
<ul>
	{% for recipe in recipes %}
	<li>
		<a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
		{% if owner %}
			(<a href="{{ recipe.get_edit_url }}">upravit</a>)
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% else %}
	<p>Zatím nemáte žádné recepty. <a href="{% url recipe_add user.username %}">Přidejte recept</a>
	a zde najdete svou osobní kuchařku.</p>
{% endif %}

</div>

{% endblock %}
