{% extends "base.html" %}

{% block content %}
<h2>{{ recipe }}</h2>

<div id="recipe-detail">

{% if recipe.perex %}
<div class="perex"><em>{{ recipe.perex }}</em></div>
{% endif %}

{% if recipe.ingredients %}
<div class="ingredients">
	<strong>Ingredience:</strong>
	<ul>
	{% for ingr_group in recipe.ingredients %}
		<li>
			{% if ingr_group.title and recipe.ingredients|length > 1 %}
				<h3>{{ ingr_group.title }}</h3>
			{% endif %}
			<ul>
			{% for ingr in ingr_group.ingredients %}
				<li>{{ ingr }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if recipe.procedure %}
<div class="procedure">
	<strong>Postup:</strong>
	{{ recipe.procedure|linebreaks }}
</div>
{% endif %}

{% if recipe.notes %}
<div class="notes">
	<strong>Poznámky:</strong>
	{{ recipe.notes|linebreaks }}
</div>
{% endif %}

{% if recipe.source %}
<div class="source">
	<strong>Zdroj:</strong>
	<p>{{ recipe.source|urlizetrunc:50 }}</p>
</div>
{% endif %}

{% if recipe.tags %}
<div class="tags">
	<strong>Štítky:</strong>
	<ul>
	{% for tag in recipe.tags %}
		<li>{{ tag }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if owner %}
	<p><a href="{% url recipe_edit recipe.author recipe.slug %}">Upravit recept</a></p>
{% endif %}

</div>

{% endblock %}
