{% extends "base.html" %}

{% block page-header %}
	<h2>{{ recipe }}</h2>

	{% if recipe.perex %}
		<div class="perex"><em>{{ recipe.perex }}</em></div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if owner %}
	<ul>
		<li><a href="{% url recipe_edit recipe.author recipe.slug %}">Upravit recept</a></li>
	</ul>
	{% endif %}
{% endblock %}

{% block content %}

<div id="recipe-detail">

<div id="recipe-body" class="clearfix">

{% if recipe.ingredients %}
<div class="ingredients">
	<h3>Ingredience:</h3>
	<ul>
	{% for ingr_group in recipe.ingredients %}
		<li>
			{% if ingr_group.title and recipe.ingredients|length > 1 %}
				<h3>{{ ingr_group.title }}</h3>
			{% endif %}
			<ul>
			{% for ingr in ingr_group.ingredients %}
				<li>{{ ingr }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if recipe.procedure %}
<div class="procedure">
	<h3>Postup:</h3>
	{{ recipe.procedure|linebreaks }}
</div>
{% endif %}

</div>

{% if recipe.notes %}
<div class="notes">
	<h3>Poznámky:</h3>
	{{ recipe.notes|linebreaks }}
</div>
{% endif %}

{% if recipe.source %}
<div class="source">
	<h3>Zdroj:</h3>
	<p>{{ recipe.source|urlizetrunc:50 }}</p>
</div>
{% endif %}

{% if recipe.tags %}
<div class="tags">
	<h3>Kategorie:</h3>
	<ul>
	{% for tag in recipe.tags %}
		<li>{{ tag }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if recipe.gallery_id %}
<div class="gallery">
	<ul>
		{% for photo in recipe.gallery.public %}
		<li>
			<a href="{{ photo.get_display_url }}" rel="gallery-{{ recipe.gallery_id }}">
				<img src="{{ photo.get_thumbnail_url }}">
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

</div>

{% endblock %}
